In [10]:
from path import Path
import pandas as pd
import os

In [11]:
btc = Path("../../crypto_data/BTCUSDT.csv")

In [67]:
os. getcwd()

'C:\\Users\\jacky\\Fintech\\Project-2\\Code\\Elon_musk_twitter_scrap'

In [18]:
df = pd.read_csv(btc, skiprows=[0]).sort_index(ascending = False)
df
df1 = df.drop(columns = ["unix", "open","high","low","Volume BTC", "Volume USDT","tradecount"])
df1["pct change"] = df["close"].pct_change()
# df1.set_index("date")
# df1.sort_values("date")
df1.head()

                  date    symbol    close  pct change
40703  17/08/2017 4:00  BTC/USDT  4308.83         NaN
40702  17/08/2017 5:00  BTC/USDT  4315.32    0.001506
40701  17/08/2017 6:00  BTC/USDT  4324.35    0.002093
40700  17/08/2017 7:00  BTC/USDT  4349.99    0.005929
40699  17/08/2017 8:00  BTC/USDT  4360.69    0.002460

In [ ]:
path = '../crypto_data'
os.chdir(path)
dir_list = os.listdir(path)

dfa = pd.DataFrame()
# print("Loop Progress:")
for file in dir_list:
    if file.endswith('.csv'):
        print("Adding to Dataframe",file)
        sheet_df = pd.concat([pd.read_csv(file)])
        df = df.append(sheet_df, ignore_index = True)
        print("complete:",file)
df

Adding to Dataframe ADAUSDT.csv

In [19]:
df1['date'] = pd.to_datetime(df1['date'])

In [20]:
df1

                     date    symbol     close  pct change
40703 2017-08-17 04:00:00  BTC/USDT   4308.83         NaN
40702 2017-08-17 05:00:00  BTC/USDT   4315.32    0.001506
40701 2017-08-17 06:00:00  BTC/USDT   4324.35    0.002093
40700 2017-08-17 07:00:00  BTC/USDT   4349.99    0.005929
40699 2017-08-17 08:00:00  BTC/USDT   4360.69    0.002460
...                   ...       ...       ...         ...
4     2022-09-04 20:00:00  BTC/USDT  42423.18   -0.002088
3     2022-09-04 21:00:00  BTC/USDT  42558.06    0.003179
2     2022-09-04 22:00:00  BTC/USDT  42543.42   -0.000344
1     2022-09-04 23:00:00  BTC/USDT  42753.97    0.004949
0     2022-10-04 00:00:00  BTC/USDT  42653.69   -0.002346

[40704 rows x 4 columns]

In [21]:
df1['Dates'] = pd.to_datetime(df1['date']).dt.date
df1['Time'] = pd.to_datetime(df1['date']).dt.time

In [32]:
A = df1.drop(columns = "date")
A

         symbol     close  pct change       Dates      Time
40703  BTC/USDT   4308.83         NaN  2017-08-17  04:00:00
40702  BTC/USDT   4315.32    0.001506  2017-08-17  05:00:00
40701  BTC/USDT   4324.35    0.002093  2017-08-17  06:00:00
40700  BTC/USDT   4349.99    0.005929  2017-08-17  07:00:00
40699  BTC/USDT   4360.69    0.002460  2017-08-17  08:00:00
...         ...       ...         ...         ...       ...
4      BTC/USDT  42423.18   -0.002088  2022-09-04  20:00:00
3      BTC/USDT  42558.06    0.003179  2022-09-04  21:00:00
2      BTC/USDT  42543.42   -0.000344  2022-09-04  22:00:00
1      BTC/USDT  42753.97    0.004949  2022-09-04  23:00:00
0      BTC/USDT  42653.69   -0.002346  2022-10-04  00:00:00

[40704 rows x 5 columns]

In [66]:
BTC = A.set_index(["Dates","Time"]).drop(columns = "symbol")
C = ["BTC/USD Price", "hourly change"]
B.columns = C
BTC

                        close  pct change
Dates      Time
2017-08-17 04:00:00   4308.83         NaN
           05:00:00   4315.32    0.001506
           06:00:00   4324.35    0.002093
           07:00:00   4349.99    0.005929
           08:00:00   4360.69    0.002460
...                       ...         ...
2022-09-04 20:00:00  42423.18   -0.002088
           21:00:00  42558.06    0.003179
           22:00:00  42543.42   -0.000344
           23:00:00  42753.97    0.004949
2022-10-04 00:00:00  42653.69   -0.002346

[40704 rows x 2 columns]